
.main-view{
    width: 1380px;
    min-height: 2500px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
}

.main-view.product-view {
    background-color: #fff;
    font-family: SourceSansPro;
}

.main-view .plp-view{
    position: relative;
    float: left;
    width: 100%;
    bottom: 0;
}

.main-view .facets {
    width: 20%;
    float: left;
    padding: 10px;
}

.main-view .products {
    width: 80%;
    float: left;
    padding: 0 5px;
}

.main-view .products .info {
    padding: 20px 10px;
    text-align: center;
}

.header1 {
    font-family: Lora;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .1px;
    color: #333;
    text-transform: capitalize;
}

.main-view .info .plp-info-description {
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: 10px;
    line-height: 1.3em;
}
.main-view .sub li{
    padding-left: 3rem;
    padding-bottom: 5px;
    text-align: justify;   
    font-family: Lora; 
    font-size: 18px;
}

.main-view .typehead {
    text-transform: capitalize;
    font-size: 30px;
    font-family: lora;
    margin: 15px 0;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    letter-spacing: 00.5px;
    text-align: center;
}

ul{
    list-style: none;
}

.img-fluid{
    height: 15vw;
    object-fit: cover;
}

.cardi{
    height: 500px;
    padding: 2rem;
    border:none;
}

.brand{
    font-family: SourceSansPro;
    color: #b19975;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 6px;
    font-size: 30px;
}

.name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    color: #333333;
    font-size: 21px;
}

.price{
    font-family: SourceSansPro;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.price_moq{
    font-family: SourceSansPro;
    font-size: 17px;
    font-weight: 700;
    color: black;
}

.filter-container {
    height: 60px;
    border-top: 1px solid #e5e3e3;
    border-bottom: 1px solid #e5e3e3;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-top: 25px;
}

.sort{
    font-size: 20px;
    padding-top: 2px;
    padding-right: 2px;
    font-weight:bold;
    font-family:Copperplate;
    padding: 5px;
    padding-top: 10px;
    color: #666;
}

.form-control-boot{
    font-family:Copperplate;
    padding: 5px;
    padding-top: 10px;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    outline: none;
    border: none;
    color: #666;
    font-size: 20px;
    background-color: #f9f9f9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search{
    margin-bottom: 50px;
    float: right;
}