.nav-tabs .nav-item {
    margin-bottom: -1px;
    font-stretch: extra-expanded;
    font-size: larger;
    letter-spacing: 2px;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}