
.btn{
    width: 50%;
    font-family:Copperplate;
    font-size: 22px;
   font-weight:bold;
   color: black;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-control {
  width: 50%;
}

label{
  float: left;
}

.profile{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  font-stretch: extra-expanded;
}

.thead{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-stretch: extra-expanded;
}

.h2{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-align: left;
top: 50px
}

.profile td{
  width: 250px
}

.profile td Button{
  border-radius: 8px;
  border-width: 3.5px;
}

#done{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  float: left;
}

.filter{
  float: right;
}