
.btn{
  width: 50%;
  font-family:Copperplate;
  font-size: 22px;
  font-weight:bold;
  color: black;
}

.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tbody{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 17px;
font-stretch: extra-expanded;
}

.thead{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-stretch: extra-expanded;
}

.h2{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-align: left;
top: 50px
}

.tbody td{
width: 200px
}

.tbody td Button{
border-radius: 8px;
border-width: 3.5px;
}

#done{
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
float: left;
}

.filter{
float: right;
}

.filter-container {
  height: 60px;
  border-top: 1px solid #e5e3e3;
  border-bottom: 1px solid #e5e3e3;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  margin-top: 0;
}


.sort{
  font-size: 20px;
  padding-top: 2px;
  padding-right: 2px;
  font-weight:bold;
  font-family:Copperplate;
  padding: 5px;
  padding-top: 10px;
  color: #666;
}

.form-control-boot{
    font-family:Copperplate;
    padding: 5px;
    padding-top: 10px;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    outline: none;
    border: none;
    color: #666;
    font-size: 20px;
    background-color: #f9f9f9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}