.form-control-boot{
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    outline: none;
    border: none;
    color: black;
    font-size: inherit;
    margin-bottom: 25px;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    font-family:Copperplate;
    font-size: 20px;

}
.sidebar-fixed {
    max-height: 160vh;
    
  }
  
  .flexible-content {
      min-height: 100vh;
    max-height: 160vh;
    padding: 0; 
  }
.filter{
    float: left;
    font-family:Copperplate;
    font-size: 20px;
   font-weight:bold
}
