.header-wrapper{
  outline: transparent;
  box-sizing: border-box;
  color: #333;
  text-align: left;
}

.navbar{
  height: 90px;
  width: 100%;
  border-top: 3px solid #2c4152;
  z-index: 101;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
}

.md-form{
float: right;
}

.md-form input{
  border: none;
  width: 160px;
}
.col-md-3{
  max-width: 18%;
  margin-top: 3px;
}
.md-form button{
  float: right;
  background: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dodShadow{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}

.navbar-brand{
  float: left;
  margin-left: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.5px;
}

.nav-link button{
  background: #fff;
}

li{
  float: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.catlist {
  color:black;
  padding: 17px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.nav-item{
  padding: 2px;
}

.catlist:hover{
  color: #fff;
  background-color: black;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
  display: none;
  position: absolute;
  width: 830px;
  top: 70px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-style: solid;
  border-color: rgb(242, 242, 242);
  border-width: 6px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;
  display: block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile_navs{
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}