.tbody{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-stretch: extra-expanded;
    color: black;
  }

  .thead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-stretch: extra-expanded;
  }

  .check:active {
    transform: translateY(2px);
}

.check{
    border-radius: 12px;
    width: 120px;
    height: 60px;
    transition-duration: 0.4s;
    background-color: rgb(7, 116, 16);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
}
.check:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white; /* Green */
    color: black;
    border: 2px solid #4CAF50; 
}
